{
  "openapi": "3.0.1",
  "info": {
    "title": "AROME-PI",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://public-api.meteofrance.fr/public/aromepi/1.0"
    }
  ],
  "security": [
    {
      "default": []
    }
  ],
  "tags": [
    {
      "name": "AROMEPI 0.01",
      "description": "Service de consultation (WMS) et de téléchargement (WCS) des données issues du modèle de prévision numérique atmosphérique de prévision numérique haute résolution à aire limitée français. Résolution 0.01 degré sur la France. Échéances 0 à 360 minutes par pas de 15 minutes.\n\nView service (WMS) and download service (WCS) of data from the French nowcasting numerical weather prediction limited area model. Resolution 0.01 degree over France. Steps 0 to 360 minutes by 15 minutes.\n"
    },
    {
      "name": "AROMEPI 0.025",
      "description": "Service de consultation (WMS) et de téléchargement (WCS) des données issues du modèle de prévision numérique atmosphérique de prévision numérique haute résolution à aire limitée français. Résolution 0.025 degré sur la France. Échéances 0 à 360 minutes par pas de 15 minutes.\n\nView service (WMS) and download service (WCS) of data from the French nowcasting numerical weather prediction limited area model. Resolution 0.025 degree over France. Steps 0 to 360 minutes by 15 minutes.\n"
    }
  ],
  "paths": {
    "/wms/MF-NWP-HIGHRES-AROMEPI-001-FRANCE-WMS/GetCapabilities": {
      "get": {
        "tags": [
          "AROMEPI 0.01"
        ],
        "description": "Le GetCapabilities retourne les métadonnées du service (couches proposées, projections associées, auteur…)\n\nThe GetCapabilities returns the metadata of the service (proposed layers, associated projections, author, etc.)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-AROMEPI-001-FRANCE-WMS/GetMap": {
      "get": {
        "tags": [
          "AROMEPI 0.01"
        ],
        "description": "GetMap permet d'obtenir une carte (format d'image) dont les caractéristiques sont définies par le client à l’aide de paramètres standardisés\n\nGetMap return a map (image format) whose characteristics are defined by the customer using standardized parameters",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "Total hail/Quantité de grêle",
                "value": "HAIL__GROUND_OR_WATER_SURFACE"
              },
              "2": {
                "summary": "Wind direction and speed (gust in the last 15 minutes)  at specified height level above ground/Direction et force de la rafale de vent sur 15 minutes en niveaux hauteur.",
                "value": "WIND_GUST_15MIN__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "3": {
                "summary": "Wind speed (gust) in the last 15 minutes at specified height level above ground/Rafale de vent sur 15  minutes en niveaux hauteur.",
                "value": "WIND_SPEED_GUST_15MIN__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "4": {
                "summary": "Visibility (min) in the last 15 minutes/Visibilité mini sur 15 minutes",
                "value": "VISIBILITY_MINI_15MIN__GROUND_OR_WATER_SURFACE"
              },
              "5": {
                "summary": "Brightness temperature/Température de brillance dans le canal infrarouge 10.8 microns.",
                "value": "BRIGHTNESS_TEMPERATURE__GROUND_OR_WATER_SURFACE"
              },
              "6": {
                "summary": "Total precipitation/Quantité totale de précipitations.",
                "value": "TOTAL_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "7": {
                "summary": "Moisture Convergence/Convergence d’humidité",
                "value": "MOCON__GROUND_OR_WATER_SURFACE"
              },
              "8": {
                "summary": "Wind speed (gust) at specified height level above ground the last hour/Rafale de vent en niveaux hauteur sur une heure",
                "value": "WIND_SPEED_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "9": {
                "summary": "v component of wind gust in the last 15 minutes at specified height level above ground/composante méridienne de la rafale du vent sur 15 minutes, en niveau hauteur",
                "value": "V_COMPONENT_OF_WIND_GUST_15MIN__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "10": {
                "summary": "ground temperature/Température au sol",
                "value": "TEMPERATURE__GROUND_OR_WATER_SURFACE"
              },
              "11": {
                "summary": "Height of 1°C TPW/Altitude de la T’W 1°C",
                "value": "TPW_27415_HEIGHT__LEVEL_OF_ADIABATIC_CONDESATION"
              },
              "12": {
                "summary": "Type of precipitation most severe in th last 15 minutes/Type de précipitation le plus sévère sur 15 minutes",
                "value": "SEVERE_PRECIPITATION_TYPE_15_MIN__GROUND_OR_WATER_SURFACE"
              },
              "13": {
                "summary": "rainfall rate/Intensité des précipitations",
                "value": "TOTAL_PRECIPITATION_RATE__GROUND_OR_WATER_SURFACE"
              },
              "14": {
                "summary": "v component of wind gust at specified height level above ground/composante méridienne de la rafale du vent, en niveau hauteur",
                "value": "V_COMPONENT_OF_WIND_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "15": {
                "summary": "Convective available potential energy/CAPE de la particule la plus instable en basses couches avec coefficient d'entraînement.",
                "value": "CONVECTIVE_AVAILABLE_POTENTIAL_ENERGY__GROUND_OR_WATER_SURFACE"
              },
              "16": {
                "summary": "Total water precipitation/Quantité de précipitations sous forme liquide.",
                "value": "TOTAL_WATER_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "17": {
                "summary": "Visibility under precipitation (mini) in the last 15 minutes/Visibilité mini sous précipitations sur 15 minutes",
                "value": "VISIBILITY_MINI_PRECIP_15MIN__GROUND_OR_WATER_SURFACE"
              },
              "18": {
                "summary": "Total snow precipitation/Quantité de précipitations sous forme de neige.",
                "value": "TOTAL_SNOW_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "19": {
                "summary": "Height of 0°C T’W/Altitude de la T’W 0°C",
                "value": "TPW_27315_HEIGHT__LEVEL_OF_ADIABATIC_CONDESATION"
              },
              "20": {
                "summary": "Pressure reduced to MSL/Pression réduite au niveau de la mer",
                "value": "PRESSURE__SEA_SURFACE"
              },
              "21": {
                "summary": "u component of wind gust in the last 15 minutes at specified height level above ground/composante zonale de la rafale du vent sur 15 minutes, en niveau hauteur",
                "value": "U_COMPONENT_OF_WIND_GUST_15MIN__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "22": {
                "summary": "Total solid precipitations/Quantité de précipitations solides",
                "value": "SOLID_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "23": {
                "summary": "Low cloud cover/Nébulosité de l'étage inférieur.",
                "value": "LOW_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "24": {
                "summary": "graupel/Quantité de graupel",
                "value": "GRAUPEL__GROUND_OR_WATER_SURFACE"
              },
              "25": {
                "summary": "Temperature at specified height level above ground/Température de l'air en niveaux hauteur.",
                "value": "TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "26": {
                "summary": "u component of wind gust at specified height level above ground/composante zonale de la rafale du vent, en niveaux hauteur",
                "value": "U_COMPONENT_OF_WIND_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "27": {
                "summary": "Wind direction and speed (gust)  at specified height level above ground/Direction et force de la rafale de vent en niveaux hauteur.",
                "value": "WIND_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "28": {
                "summary": "Reflectivity max in dBz/Réflectivité maximale en dBz",
                "value": "REFLECTIVITY_MAX_DBZ__GROUND_OR_WATER_SURFACE"
              },
              "29": {
                "summary": "Dew point temperature/Température du point de rosée",
                "value": "DEW_POINT_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "30": {
                "summary": "Type of precipitation most severe in th last 15 minutes/Type de précipitation le plus sévère sur 15 minutes",
                "value": "PRECIPITATION_TYPE_15_MIN__GROUND_OR_WATER_SURFACE"
              },
              "31": {
                "summary": "Wet bulbe température/Température du bulbe mouillé",
                "value": "WETB_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "32": {
                "summary": "Hail diagnostic/Diagnositc de grêle",
                "value": "DIAG_GRELE__GROUND_OR_WATER_SURFACE"
              },
              "33": {
                "summary": "Relative humidity at specified height level above ground/Humidité relative en niveaux hauteur.",
                "value": "RELATIVE_HUMIDITY__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "34": {
                "summary": "Height of 1,5°C T’W/Altitude de la T’W 1,5°C",
                "value": "TPW_27465_HEIGHT__LEVEL_OF_ADIABATIC_CONDESATION"
              },
              "35": {
                "summary": "Wind speed (gust) at specified height level above ground/Rafale de vent en niveaux hauteur",
                "value": "WIND_SPEED_MAXIMUM_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              }
            }
          },
          {
            "name": "crs",
            "in": "query",
            "description": "CRS. The only accepted value is EPSG:4326",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:4326"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/png"
              ]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "bbox",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "37.5,-12,55.4,16",
                "value": "37.5,-12,55.4,16"
              }
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "height",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "width",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "description": "transparent true or false",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "true",
                "value": "true"
              },
              "2": {
                "summary": "false",
                "value": "false"
              }
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dim_reference_time",
            "in": "query",
            "description": "dim_reference_time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available dim_reference_time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elevation",
            "in": "query",
            "description": "elevation (see the result of the GetCapabilities for available elevation)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "styles",
            "in": "query",
            "description": "styles (see the result of the GetCapabilities for available styles)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-AROMEPI-0025-FRANCE-WMS/GetCapabilities": {
      "get": {
        "tags": [
          "AROMEPI 0.025"
        ],
        "description": "Le GetCapabilities retourne les métadonnées du service (couches proposées, projections associées, auteur…)\n\nThe GetCapabilities returns the metadata of the service (proposed layers, associated projections, author, etc.)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-AROMEPI-0025-FRANCE-WMS/GetMap": {
      "get": {
        "tags": [
          "AROMEPI 0.025"
        ],
        "description": "GetMap permet d'obtenir une carte (format d'image) dont les caractéristiques sont définies par le client à l’aide de paramètres standardisés\n\nGetMap return a map (image format) whose characteristics are defined by the customer using standardized parameters",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "Convection Index SuperCellParameter/Indice de convection SuperCellParameter",
                "value": "DIAG_SCP__GROUND_OR_WATER_SURFACE"
              },
              "2": {
                "summary": "Total hail/Quantité de grêle",
                "value": "HAIL__GROUND_OR_WATER_SURFACE"
              },
              "3": {
                "summary": "Pressure/Pression",
                "value": "PRESSURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "4": {
                "summary": "Visibility (min) in the last 15 minutes/Visibilité mini sur 15 minutes",
                "value": "VISIBILITY_MINI_15MIN__GROUND_OR_WATER_SURFACE"
              },
              "5": {
                "summary": "v component of wind at specified height level above ground/composante méridienne du vent, en niveau hauteur",
                "value": "V_COMPONENT_OF_WIND__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "6": {
                "summary": "Total precipitation/Quantité totale de précipitations.",
                "value": "TOTAL_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "7": {
                "summary": "Moisture Convergence/Convergence d’humidité",
                "value": "MOCON__GROUND_OR_WATER_SURFACE"
              },
              "8": {
                "summary": "Wind speed (gust) at specified height level above ground the last hour/Rafale de vent en niveaux hauteur sur une heure",
                "value": "WIND_SPEED_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "9": {
                "summary": "Wind direction and speed  at specified height level above ground/Direction et force du vent en niveaux hauteur.",
                "value": "WIND__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "10": {
                "summary": "Wind speed at specified height level above ground/Force du vent en niveaux hauteur.",
                "value": "WIND_SPEED__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "11": {
                "summary": "Total water precipitation/Quantité de précipitations sous forme liquide.",
                "value": "TOTAL_WATER_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "12": {
                "summary": "Brightness temperature/Température de brillance dans le canal infrarouge 10.8 microns.",
                "value": "BRIGHTNESS_TEMPERATURE__GROUND_OR_WATER_SURFACE"
              },
              "13": {
                "summary": "v component of wind gust in the last 15 minutes at specified height level above ground/composante méridienne de la rafale du vent sur 15 minutes, en niveau hauteur",
                "value": "V_COMPONENT_OF_WIND_GUST_15MIN__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "14": {
                "summary": "Height of 1°C TPW/Altitude de la T’W 1°C",
                "value": "TPW_27415_HEIGHT__LEVEL_OF_ADIABATIC_CONDENSATION"
              },
              "15": {
                "summary": "Type of precipitation most severe in th last 15 minutes/Type de précipitation le plus sévère sur 15 minutes",
                "value": "SEVERE_PRECIPITATION_TYPE_15_MIN__GROUND_OR_WATER_SURFACE"
              },
              "16": {
                "summary": "rainfall rate/Intensité des précipitations",
                "value": "TOTAL_PRECIPITATION_RATE__GROUND_OR_WATER_SURFACE"
              },
              "17": {
                "summary": "Total snow precipitation/Quantité de précipitations sous forme de neige.",
                "value": "TOTAL_SNOW_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "18": {
                "summary": "v component of wind gust at specified height level above ground/composante méridienne de la rafale du vent, en niveau hauteur",
                "value": "V_COMPONENT_OF_WIND_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "19": {
                "summary": "Visibility under precipitation (mini) in the last 15 minutes/Visibilité mini sous précipitations sur 15 minutes",
                "value": "VISIBILITY_MINI_PRECIP_15MIN__GROUND_OR_WATER_SURFACE"
              },
              "20": {
                "summary": "Total Cloud Cover/Nébulosité totale",
                "value": "NEBUL__GROUND_OR_WATER_SURFACE"
              },
              "21": {
                "summary": "Height of 0°C T’W/Altitude de la T’W 0°C",
                "value": "TPW_27315_HEIGHT__LEVEL_OF_ADIABATIC_CONDENSATION"
              },
              "22": {
                "summary": "Wind direction and speed (gust in the last 15 minutes)  at specified height level above ground/Direction et force de la rafale de vent sur 15 minutes en niveaux hauteur.",
                "value": "WIND_GUST_15MIN__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "23": {
                "summary": "Pressure reduced to MSL/Pression réduite au niveau de la mer",
                "value": "PRESSURE__SEA_SURFACE"
              },
              "24": {
                "summary": "Snow diagnostic under stratocumulus/Diagnostic de neige sous stratocumulus",
                "value": "SNOW_SC__GROUND_OR_WATER_SURFACE"
              },
              "25": {
                "summary": "u component of wind gust in the last 15 minutes at specified height level above ground/composante zonale de la rafale du vent sur 15 minutes, en niveau hauteur",
                "value": "U_COMPONENT_OF_WIND_GUST_15MIN__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "26": {
                "summary": "Pseudo-adiabatic potential temperature/température pseudo-adiabatique potentielle du thermomètre mouillé",
                "value": "TPW__ISOBARIC_SURFACE"
              },
              "27": {
                "summary": "Top of the cumulonimbus pressure/Pression au sommet des cumulonimbus",
                "value": "PRESSURE__CUMULONIMBUS_TOP"
              },
              "28": {
                "summary": "Turbulent Kinetic Energie/Energie cinétique turbulente",
                "value": "TKE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "29": {
                "summary": "Total solid precipitations/Quantité de précipitations solides",
                "value": "SOLID_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "30": {
                "summary": "Arome convection index diagnostic/Diagnostic d’indice de convection Arome",
                "value": "DIAG_ICA__GROUND_OR_WATER_SURFACE"
              },
              "31": {
                "summary": "Energy Helicity Index/Diagnostic d’indice de convection Severe EHI",
                "value": "DIAG_EHI__GROUND_OR_WATER_SURFACE"
              },
              "32": {
                "summary": "graupel/Quantité de graupel",
                "value": "GRAUPEL__GROUND_OR_WATER_SURFACE"
              },
              "33": {
                "summary": "Temperature at specified height level above ground/Température de l'air en niveaux hauteur.",
                "value": "TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "34": {
                "summary": "Freezing drizzle over warm front index/Diagnostique de bruine verglaçante sous front chaud",
                "value": "BR_VERG_FC__GROUND_OR_WATER_SURFACE"
              },
              "35": {
                "summary": "u component of wind gust at specified height level above ground/composante zonale de la rafale du vent, en niveaux hauteur",
                "value": "U_COMPONENT_OF_WIND_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "36": {
                "summary": "Fog Diagnostic/Diagnostic de brouillard",
                "value": "DIAG_FOG__GROUND_OR_WATER_SURFACE"
              },
              "37": {
                "summary": "Wind direction and speed (gust)  at specified height level above ground/Direction et force de la rafale de vent en niveaux hauteur.",
                "value": "WIND_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "38": {
                "summary": "Reflectivity max in dBz/Réflectivité maximale en dBz",
                "value": "REFLECTIVITY_MAX_DBZ__GROUND_OR_WATER_SURFACE"
              },
              "39": {
                "summary": "Dew point temperature/Température du point de rosée",
                "value": "DEW_POINT_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "40": {
                "summary": "Type of precipitation most severe in th last 15 minutes/Type de précipitation le plus sévère sur 15 minutes",
                "value": "PRECIPITATION_TYPE_15_MIN__GROUND_OR_WATER_SURFACE"
              },
              "41": {
                "summary": "Rain on frozen ground diagnostic/Diagnostic de pluie sur sol gelé",
                "value": "PRECIPITATION_FZN_GROUND__GROUND_OR_WATER_SUFACE"
              },
              "42": {
                "summary": "Medium cloud cover/Nébulosité de l'étage moyen.",
                "value": "MEDIUM_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "43": {
                "summary": "High cloud cover/Nébulosité de l'étage supérieur.",
                "value": "HIGH_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "44": {
                "summary": "18dBZ pressure level of a convective cloud/Pression au niveau échotop 18dBZ",
                "value": "PRESSURE__LEVEL_OF_CLOUD_TOP"
              },
              "45": {
                "summary": "Wet bulbe température/Température du bulbe mouillé",
                "value": "WETB_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "46": {
                "summary": "u component of wind at specified height level above ground/composante zonale du vent, en niveaux hauteur",
                "value": "U_COMPONENT_OF_WIND__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "47": {
                "summary": "Significant Tornado Parameter Index Diagnostic/Diagnostic d’indice de convection STP",
                "value": "DIAG_STP__GROUND_OR_WATER_SURFACE"
              },
              "48": {
                "summary": "Hail diagnostic/Diagnositc de grêle",
                "value": "DIAG_GRELE__GROUND_OR_WATER_SURFACE"
              },
              "49": {
                "summary": "Virtual potential temperature/Température potentielle virtuelle",
                "value": "VIRTUAL_POTENTIAL_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "50": {
                "summary": "Relative humidity at specified height level above ground/Humidité relative en niveaux hauteur.",
                "value": "RELATIVE_HUMIDITY__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "51": {
                "summary": "Height of 1,5°C T’W/Altitude de la T’W 1,5°C",
                "value": "TPW_27465_HEIGHT__LEVEL_OF_ADIABATIC_CONDENSATION"
              },
              "52": {
                "summary": "Wind speed (gust) at specified height level above ground/Rafale de vent en niveaux hauteur",
                "value": "WIND_SPEED_MAXIMUM_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "53": {
                "summary": "Direct downward short wave radiation flux/Versions descendantes du flux solaire en surface direct",
                "value": "DIRECT_DOWNWARD_SHORT_WAVE_RADIATION_FLUX__GROUND_OR_WATER_SURFACE"
              },
              "54": {
                "summary": "downward short-wave radiation flux/Flux solaire descendant",
                "value": "DOWNWARD_SHORT_WAVE_RADIATION_FLUX__GROUND_OR_WATER_SURFACE"
              },
              "55": {
                "summary": "Clear Sky solar flux/Flux de rayonnement solaire par ciel clair",
                "value": "NET_SHORT_WAVE_RADIATION_CLEAR_SKY__GROUND_OR_WATER_SURFACE"
              },
              "56": {
                "summary": "short-wave radiation flux/Flux solaire",
                "value": "SHORT_WAVE_RADIATION_FLUX__GROUND_OR_WATER_SURFACE"
              }
            }
          },
          {
            "name": "crs",
            "in": "query",
            "description": "CRS. The only accepted value is EPSG:4326",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:4326"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/png"
              ]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "bbox",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "37.5,-12,55.4,16",
                "value": "37.5,-12,55.4,16"
              }
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "height",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "width",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "description": "transparent true or false",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "true",
                "value": "true"
              },
              "2": {
                "summary": "false",
                "value": "false"
              }
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dim_reference_time",
            "in": "query",
            "description": "dim_reference_time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available dim_reference_time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elevation",
            "in": "query",
            "description": "elevation (see the result of the GetCapabilities for available elevation)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "styles",
            "in": "query",
            "description": "styles (see the result of the GetCapabilities for available styles)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROMEPI-001-FRANCE-WCS/GetCapabilities": {
      "get": {
        "tags": [
          "AROMEPI 0.01"
        ],
        "description": "GetCapabilities retourne la liste des opérations supportées par le service, et la liste des champs (coverages) disponibles\n\nGetCapabilities returns the list of operations supported by the service, and the list of available fields (coverages)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROMEPI-001-FRANCE-WCS/DescribeCoverage": {
      "get": {
        "tags": [
          "AROMEPI 0.01"
        ],
        "description": "DescribeCoverage décrit la structure du coverage (extension spatiale, extension temporelle, géométrie de la grille, type des données et unité des valeurs sur la grille)\n\nDescribeCoverage describes the coverage structure (spatial extension, temporal extension, grid geometry, data type and unit of values ​​on the grid)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageID",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROMEPI-001-FRANCE-WCS/GetCoverage": {
      "get": {
        "tags": [
          "AROMEPI 0.01"
        ],
        "description": "GetCoverage renvoie le coverage\n\n\nGetCoverage return the coverage",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageid",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subset",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/tiff",
                "application/wmo-grib"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROMEPI-0025-FRANCE-WCS/GetCapabilities": {
      "get": {
        "tags": [
          "AROMEPI 0.025"
        ],
        "description": "GetCapabilities retourne la liste des opérations supportées par le service, et la liste des champs (coverages) disponibles\n\nGetCapabilities returns the list of operations supported by the service, and the list of available fields (coverages)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROMEPI-0025-FRANCE-WCS/DescribeCoverage": {
      "get": {
        "tags": [
          "AROMEPI 0.025"
        ],
        "description": "DescribeCoverage décrit la structure du coverage (extension spatiale, extension temporelle, géométrie de la grille, type des données et unité des valeurs sur la grille)\n\nDescribeCoverage describes the coverage structure (spatial extension, temporal extension, grid geometry, data type and unit of values ​​on the grid)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageID",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROMEPI-0025-FRANCE-WCS/GetCoverage": {
      "get": {
        "tags": [
          "AROMEPI 0.025"
        ],
        "description": "GetCoverage renvoie le coverage\n\n\nGetCoverage return the coverage",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageid",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subset",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/tiff",
                "application/wmo-grib"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    }
  },
  "components": {
    "responses": {
      "InvalidToken": {
        "description": "Invalid token"
      },
      "Forbidden": {
        "description": "Forbidden"
      },
      "InternalServer": {
        "description": "Internal Server Error"
      },
      "Badrequest": {
        "description": "Bad request"
      },
      "OK": {
        "description": "OK"
      },
      "ThrottlingLimit": {
        "description": "Throttling limit"
      },
      "Unavailable": {
        "description": "Service Unavailable"
      },
      "Timeout": {
        "description": "Backend Timeout"
      }
    },
    "securitySchemes": {
      "default": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://public-api.meteofrance.fr/authorize",
            "scopes": {}
          }
        }
      }
    }
  }
}