{
  "openapi": "3.0.1",
  "info": {
    "title": "AROME",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://public-api.meteofrance.fr/public/arome/1.0"
    }
  ],
  "security": [
    {
      "default": []
    }
  ],
  "tags": [
    {
      "name": "AROME 0.01",
      "description": "Service de consultation (WMS) et de téléchargement (WCS) des données  issues du modèle de prévision numérique atmosphérique très haute résolution  à aire limitée français.  Résolution 0.01 degré sur la France. Échéances 0 à échéance max."
    },
    {
      "name": "Analyse AROME 0.01",
      "description": "Service de visualisation (WMS) des données d analyses issues du modèle de  prévision numérique atmosphérique de prévision numérique haute résolution  à aire limitée français. Résolution 0.01 degré sur la France.  échéances 0  et 1h (pour les flux), toutes les heures.\n\nView service (WMS) of analysis data from the French limited area numerical  weather prediction model. Resolution 0.01 degree on France. Steps 0 and 1 hours,  every hours.\n"
    },
    {
      "name": "AROME 0.025",
      "description": "Service de consultation (WMS) et de téléchargement (WCS) des données issues du modèle de prévision numérique atmosphérique de prévision numérique haute résolution à aire limitée français. Résolution 0.025 degré sur la France. Échéances 0 à échéance max.\n\nView service (WMS) and download service (WCS) of data from the French nowcasting numerical weather prediction limited area model. Resolution 0.025 degree over France. Steps 0 to max h.\n"
    },
    {
      "name": "Analyse AROME 0.025",
      "description": "Service de visualisation (WMS) des données d analyses issues du modèle de  prévision numérique atmosphérique de prévision numérique haute résolution  à aire limitée français. Résolution 0.025 degré sur la France.  échéances 0  et 1h (pour les flux), toutes les heures.\n\nView service (WMS) of analysis data from the French limited area numerical  weather prediction model. Resolution 0.025 degree on France. Steps 0 and 1 hours,  every hours.\n"
    },
    {
      "name": "AROME NCALED 0.025",
      "description": "Service de consultation (WMS) des champs issus du modèle de prévision numérique français à aire limitée. Résolution 0.025 degrés sur la Nouvelle Calédonie (13,75S 26S 158,5E 171,5E). Paramètres principaux. Pas 0h.\n\n\n View service (WMS) of fields from the limited area French numerical weather prediction model. Resolution 0.025 degree over New Caledonia (13,75S 26S 158,5E 171,5E). Main parameters. Step 0h.\n"
    },
    {
      "name": "AROME INDIEN 0.025",
      "description": "Service de consultation (WMS) et de téléchargement (WCS) des champs issus du modèle de prévision numérique français à aire limitée. Résolution 0.025 degrés sur l'Ile de la Réunion et Mayotte (7,25S 25,9S 32,75E 67,6E). Paramètres principaux. Pas 0h.\n\nView service (WMS) and download service (WCS) of fields from the limited area French numerical weather prediction model. Resolution 0.025 degree over Reunion and Mayotte islands (7,25S 25,9S 32,75E 67,6E). Main parameters. Step 0h.\n"
    },
    {
      "name": "AROME GUYANE 0.025",
      "description": "Service de consultation (WMS) et de téléchargement (WCS) des champs issus du modèle de prévision numérique français à aire limitée. Résolution 0.025 degrés sur la Guyane française (8,95N 1,05N 56,75W 46,30W). Paramètres principaux. Pas 0h.\n\n\n  View service (WMS) and download service (WCS) of fields from the limited area French numerical weather prediction model. Resolution 0.025 degree over French Guiana (8,95N 1,05N 56,75W 46,30W). Main parameters. Step 0h.\n"
    },
    {
      "name": "AROME ANTIL 0.025",
      "description": "Service de consultation (WMS) et de téléchargement (WCS) des champs issus du modèle de prévision numérique français à aire limitée. Résolution 0.025 degrés sur les Antilles françaises (22,45N 10,4N 67,8W 52,2W).\n\n\n View service (WMS) and download service (WCS) of fields from the limited area French numerical weather prediction model. Resolution 0.025 degree over French West Indies (22,45N 10,4N 67,8W 52,2W)\n"
    },
    {
      "name": "AROME POLYN 0.025",
      "description": "Service de consultation (WMS) et de téléchargement (WCS) des champs issus du modèle de prévision numérique français à aire limitée. Résolution 0.025 degrés sur la Polynésie Française (12,6S 25,25S 157,5W 144,5W). Paramètres principaux. Pas 0h\n\n\n View service (WMS) and download service (WCS) of fields from the limited area French numerical weather prediction model. Resolution 0.025 degree over New Polynesia (12,6S 25,25S 157,5W 144,5W). Main parameters. Step 0h.\n"
    },
    {
      "name": "AROME IFS 0.025",
      "description": "Service de consultation (WMS) et de téléchargement (WCS) des champs issus du modèle de prévision numérique français AROME couplé CEP à haute résolution à aire limitée français. Résolution 0.025 degrés sur la France métropolitaine. Paramètres principaux. Échéances 0 à échéance max par pas de 1h.\n\n\n View service (WMS) and download service (WCS) of fields from the AROME forecasting model coupled to the French CEP, at high resolution and limited area. Ranges from 0 to maximum in 1-hour steps.. Resolution 0.025 degree over France. Main parameters.  \n"
    }
  ],
  "paths": {
    "/wms/MF-NWP-HIGHRES-AROME-001-FRANCE-WMS/GetCapabilities": {
      "get": {
        "tags": [
          "AROME 0.01"
        ],
        "description": "Le GetCapabilities retourne les métadonnées du service (couches proposées, projections associées, auteur…)\n\nThe GetCapabilities returns the metadata of the service (proposed layers, associated projections, author, etc.)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-AROME-001-FRANCE-WMS/GetMap": {
      "get": {
        "tags": [
          "AROME 0.01"
        ],
        "description": "GetMap permet d'obtenir une carte (format d'image) dont les caractéristiques sont définies par le client à l’aide de paramètres standardisés\n\nGetMap return a map (image format) whose characteristics are defined by the customer using standardized parameters        ",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "Pressure/Pression réduite au niveau de la mer.",
                "value": "PRESSURE__MEAN_SEA_LEVEL"
              },
              "2": {
                "summary": "Average lightning strike density over 3 hours/Densité d'éclairs Moyenne sur 3H",
                "value": "AVERAGE_LIGHTNING_STRIKE_DENSITY_OVER_3HOURS__GROUND_OR_WATER_SURFACE"
              },
              "3": {
                "summary": "Brightness temperature/Température de brillance dans le canal infrarouge 10.8 microns.",
                "value": "BRIGHTNESS_TEMPERATURE__GROUND_OR_WATER_SURFACE"
              },
              "4": {
                "summary": "Convective available potential energy/CAPE de la particule la plus instable en basses couches avec coefficient d'entraînement.",
                "value": "CONVECTIVE_AVAILABLE_POTENTIAL_ENERGY__GROUND_OR_WATER_SURFACE"
              },
              "5": {
                "summary": "Convective inhibition/Inhibition convective",
                "value": "CONVECTIVE_INHIBITION__GROUND_OR_WATER_SURFACE"
              },
              "6": {
                "summary": "Downward short-wave radiation flux/Flux solaire descendant",
                "value": "DOWNWARD_SHORT_WAVE_RADIATION_FLUX__GROUND_OR_WATER_SURFACE"
              },
              "7": {
                "summary": "Geometric height/Altitude géométrique.",
                "value": "GEOMETRIC_HEIGHT__GROUND_OR_WATER_SURFACE"
              },
              "8": {
                "summary": "Total graupel precipitation/Précipitations totales au sol sous forme de graupel.",
                "value": "GRAUPEL__GROUND_OR_WATER_SURFACE"
              },
              "9": {
                "summary": "Total hail precipitation/Précipitations totales au sol sous forme de grêle",
                "value": "HAIL__GROUND_OR_WATER_SURFACE"
              },
              "10": {
                "summary": "High cloud cover/Nébulosité de l'étage supérieur.",
                "value": "HIGH_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "11": {
                "summary": "Lightning strike density cumulated/Densité d'éclairs Cumulée",
                "value": "LIGHTNING_STRIKE_DENSITY_CUMULATED__GROUND_OR_WATER_SURFACE"
              },
              "12": {
                "summary": "Low cloud cover/Nébulosité de l'étage inférieur.",
                "value": "LOW_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "13": {
                "summary": "CAPE calculated using the particle method, with drag-out coefficient/CAPE calculée selon la méthode de la particule, avec coefficient d’entraînement",
                "value": "MEAN_LAYER_CAPE__GROUND_OR_WATER_SURFACE"
              },
              "14": {
                "summary": "Medium cloud cover/Nébulosité de l'étage moyen.",
                "value": "MEDIUM_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "15": {
                "summary": "Planetary boundary layer height/Hauteur de la couche limite.",
                "value": "PLANETARY_BOUNDARY_LAYER_HEIGHT__GROUND_OR_WATER_SURFACE"
              },
              "16": {
                "summary": "Integrated water vapour content on the vertical./Contenu intégré en vapeur d'eau sur la verticale.",
                "value": "PRECIPITABLE_WATER__GROUND_OR_WATER_SURFACE"
              },
              "17": {
                "summary": "Type of precipitation most frequent in the last hour/Type de précipitation le plus courant sur 1 heure",
                "value": "PRECIPITATION_TYPE_60_MIN__GROUND_OR_WATER_SURFACE"
              },
              "18": {
                "summary": "Pressure/Pression sol.",
                "value": "PRESSURE__GROUND_OR_WATER_SURFACE"
              },
              "19": {
                "summary": "Rainfall rate at ground./Intensité des précipitations au sol.",
                "value": "REFLECTIVITY_MAX__GROUND_OR_WATER_SURFACE"
              },
              "20": {
                "summary": "Rainfall rate at ground in dBz./Intensité des précipitations au sol en dBz.",
                "value": "REFLECTIVITY_MAX_DBZ__GROUND_OR_WATER_SURFACE"
              },
              "21": {
                "summary": "Type of precipitation most severe in the last hour/Type de précipitation le plus sévère sur 1 heure",
                "value": "SEVERE_PRECIPITATION_TYPE_60_MIN__GROUND_OR_WATER_SURFACE"
              },
              "22": {
                "summary": "Snow depth/Epaisseur de neige au sol",
                "value": "SNOW_DEPTH__GROUND_OR_WATER_SURFACE"
              },
              "23": {
                "summary": "Temperature/Température de surface.",
                "value": "TEMPERATURE__GROUND_OR_WATER_SURFACE"
              },
              "24": {
                "summary": "Total cloud cover/Nébulosité totale.",
                "value": "TOTAL_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "25": {
                "summary": "Total precipitation/Quantité totale de précipitations.",
                "value": "TOTAL_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "26": {
                "summary": "Total snow precipitation/Quantité de précipitations sous forme de neige.",
                "value": "TOTAL_SNOW_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "27": {
                "summary": "Total water precipitation/Quantité de précipitations sous forme liquide.",
                "value": "TOTAL_WATER_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "28": {
                "summary": "Visibility (min) in the last hour/Visibilité mini sur 1 heure",
                "value": "VISIBILITY_MINI_60MIN__GROUND_OR_WATER_SURFACE"
              },
              "29": {
                "summary": "Visibility under precipitation (mini) in the last hour/Visibilité mini sous précipitations sur 1 heure",
                "value": "VISIBILITY_MINI_PRECIP_60MIN__GROUND_OR_WATER_SURFACE"
              },
              "30": {
                "summary": "Water equivalent of accumulated snow depth/Equivalent eau de l’épaisseur de neige accumulée",
                "value": "WATER_EQUIVALENT_ACCUMULATED_SNOW__GROUND_OR_WATER_SURFACE"
              },
              "31": {
                "summary": "Dew point temperature at specified height level above ground/Température du point de rosée en niveaux hauteur.",
                "value": "DEW_POINT_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "32": {
                "summary": "Relative humidity at specified height level above ground/Humidité relative en niveaux hauteur.",
                "value": "RELATIVE_HUMIDITY__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "33": {
                "summary": "Temperature at specified height level above ground/Température de l'air en niveaux hauteur.",
                "value": "TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "34": {
                "summary": "Wet-bulb temperature/T'W - Température Wet Bulb.",
                "value": "WET_BULB_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "35": {
                "summary": "Wind direction and speed  at specified height level above ground/Direction et force du vent en niveaux hauteur.",
                "value": "WIND__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "36": {
                "summary": "Wind speed at specified height level above ground/Force du vent en niveaux hauteur.",
                "value": "WIND_SPEED__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "37": {
                "summary": "Wind speed (gust) at specified height level above ground/Rafale de vent en niveaux hauteur.",
                "value": "WIND_SPEED_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              }
            }
          },
          {
            "name": "crs",
            "in": "query",
            "description": "CRS. The only accepted value is EPSG:4326",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:4326"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/png"
              ]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "bbox",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "37.5,-12,55.4,16",
                "value": "37.5,-12,55.4,16"
              }
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "height",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "width",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "description": "transparent true or false",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "true",
                "value": "true"
              },
              "2": {
                "summary": "false",
                "value": "false"
              }
            }
          },
          {
            "name": "reference_time",
            "in": "query",
            "description": "reference_time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available reference_time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elevation",
            "in": "query",
            "description": "elevation (see the result of the GetCapabilities for available elevation)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "styles",
            "in": "query",
            "description": "styles (see the result of the GetCapabilities for available styles)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROME-001-FRANCE-WCS/GetCapabilities": {
      "get": {
        "tags": [
          "AROME 0.01"
        ],
        "description": "GetCapabilities retourne la liste des opérations supportées par le service, et la liste des champs (coverages) disponibles\n\nGetCapabilities returns the list of operations supported by the service, and the list of available fields (coverages)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROME-001-FRANCE-WCS/DescribeCoverage": {
      "get": {
        "tags": [
          "AROME 0.01"
        ],
        "description": "DescribeCoverage décrit la structure du coverage (extension spatiale, extension temporelle, géométrie de la grille, type des données et unité des valeurs sur la grille)\n\nDescribeCoverage describes the coverage structure (spatial extension, temporal extension, grid geometry, data type and unit of values on the grid)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageID",
            "in": "query",
            "description": "Identifiant du coverage (tel qu'il apparaît dans la réponse GetCapabilities)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROME-001-FRANCE-WCS/GetCoverage": {
      "get": {
        "tags": [
          "AROME 0.01"
        ],
        "description": "GetCoverage renvoie le coverage\n\n\nGetCoverage return the coverage",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageid",
            "in": "query",
            "description": "Identifiant du coverage (tel qu'il apparaît dans la réponse GetCapabilities)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subset",
            "in": "query",
            "description": "Paramètres de sous-sélection, selon les différents axes. Il faut que la combinatoire des paramètres de sous-sélection dans la requête définissent un sous-ensemble de dimension 2 au maximum.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/tiff",
                "application/wmo-grib"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-AROME-0025-FRANCE-WMS/GetCapabilities": {
      "get": {
        "tags": [
          "AROME 0.025"
        ],
        "description": "Le GetCapabilities retourne les métadonnées du service (couches proposées, projections associées, auteur…)\n\nThe GetCapabilities returns the metadata of the service (proposed layers, associated projections, author, etc.)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-AROME-0025-FRANCE-WMS/GetMap": {
      "get": {
        "tags": [
          "AROME 0.025"
        ],
        "description": "GetMap permet d'obtenir une carte (format d'image) dont les caractéristiques sont définies par le client à l’aide de paramètres standardisés\n\nGetMap return a map (image format) whose characteristics are defined by the customer using standardized parameters        ",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "Pressure/Pression réduite au niveau de la mer.",
                "value": "PRESSURE__MEAN_SEA_LEVEL"
              },
              "2": {
                "summary": "Absolute vorticity at isobaric surface/Tourbillon absolu sur des surfaces isobares.",
                "value": "ABSOLUTE_VORTICITY__ISOBARIC_SURFACE"
              },
              "3": {
                "summary": "Cloud water/Eau nuageuse",
                "value": "CLOUD_WATER__ISOBARIC_SURFACE"
              },
              "4": {
                "summary": "Dew point temperature at isobaric surface/Température du point de rosée sur des surfaces isobares.",
                "value": "DEW_POINT_TEMPERATURE__ISOBARIC_SURFACE"
              },
              "5": {
                "summary": "Geopotential at isobaric surface/Altitude géopotentielle sur des surfaces isobares.",
                "value": "GEOPOTENTIAL__ISOBARIC_SURFACE"
              },
              "6": {
                "summary": "Potential temperature/Température potentielle",
                "value": "POTENTIAL_TEMPERATURE__ISOBARIC_SURFACE"
              },
              "7": {
                "summary": "Potential vorticity at isobaric surface/Tourbillon potentiel sur des surfaces isobares.",
                "value": "POTENTIAL_VORTICITY__ISOBARIC_SURFACE"
              },
              "8": {
                "summary": "Pseudo-adiabatic potential temperature at isobaric surface/Température pseudo-adiabatique potentielle du thermomètre mouillé sur des surfaces isobares.",
                "value": "PSEUDO_ADIABATIC_POTENTIAL_TEMPERATURE__ISOBARIC_SURFACE"
              },
              "9": {
                "summary": "Reflectivity that would come from a radar in the atmosphere of the model, reflectivity measured in dBZ on an isobaric surface, and for an atmosphere in which there is no hail./Réflectivité qui serait issue d'un radar dans l'atmosphère du modèle, réflectivité mesurée en dBZ sur une surface isobare, et pour une atmosphère dans laquelle il n'y a pas de grêle.",
                "value": "REFLECTIVITY_DBZ__ISOBARIC_SURFACE"
              },
              "10": {
                "summary": "Horizontal wind divergence/Divergence du vent horizontal",
                "value": "RELATIVE_DIVERGENCE__ISOBARIC_SURFACE"
              },
              "11": {
                "summary": "Relative humidity at isobaric surface/Humidité relative sur des surfaces isobares.",
                "value": "RELATIVE_HUMIDITY__ISOBARIC_SURFACE"
              },
              "12": {
                "summary": "Relative vorticity at isobaric surfaces/Tourbillon relatif sur des surface isobares.",
                "value": "RELATIVE_VORTICITY__ISOBARIC_SURFACE"
              },
              "13": {
                "summary": "Specific cloud ice water content at isobaric surface/Glace nuageuse sur des surfaces isobares.",
                "value": "SPECIFIC_CLOUD_ICE_WATER_CONTENT__ISOBARIC_SURFACE"
              },
              "14": {
                "summary": "Specific rain water content at isobaric surface/Contenu en eau sous forme de pluie du nuage sur des surfaces isobares.",
                "value": "SPECIFIC_GRAUPEL_WATER_CONTENT__ISOBARIC_SURFACE"
              },
              "15": {
                "summary": "Specific rain water content at isobaric surface/Contenu en eau sous forme de pluie du nuage sur des surfaces isobares.",
                "value": "SPECIFIC_RAIN_WATER_CONTENT__ISOBARIC_SURFACE"
              },
              "16": {
                "summary": "Specific snow water content at isobaric surface/Contenu en eau sous forme de neige du nuage sur des surfaces isobares.",
                "value": "SPECIFIC_SNOW_WATER_CONTENT__ISOBARIC_SURFACE"
              },
              "17": {
                "summary": "Temperature at isobaric surface/Température de l'air sur des surfaces isobares.",
                "value": "TEMPERATURE__ISOBARIC_SURFACE"
              },
              "18": {
                "summary": "Rainfall rate at isobaric surface/Intensité des précipitations sur des surfaces isobares.",
                "value": "TOTAL_PRECIPITATION_RATE__ISOBARIC_SURFACE"
              },
              "19": {
                "summary": "Turbulent kinetic energy at isobaric surface/Energie cinétique turbulente sur des surfaces isobares.",
                "value": "TURBULENT_KINETIC_ENERGY__ISOBARIC_SURFACE"
              },
              "20": {
                "summary": "Vertical velocity (geometric) at isobaric surface/Vitesse verticale sur des surfaces isobares.",
                "value": "VERTICAL_VELOCITY_GEOMETRIC__ISOBARIC_SURFACE"
              },
              "21": {
                "summary": "Vertical velocity (pressure) at isobaric surface/Vitesse verticale sur des surfaces isobares.",
                "value": "VERTICAL_VELOCITY_PRESSURE__ISOBARIC_SURFACE"
              },
              "22": {
                "summary": "Virtual potential temperature/Température potentielle virtuelle",
                "value": "VIRTUAL_POTENTIAL_TEMPERATURE__ISOBARIC_SURFACE"
              },
              "23": {
                "summary": "Wind direction and speed at isobaric surface/Direction et force du vent sur des surfaces isobares.",
                "value": "WIND__ISOBARIC_SURFACE"
              },
              "24": {
                "summary": "Wind speed at isobaric surface/Force du vent sur des surfaces isobares.",
                "value": "WIND_SPEED__ISOBARIC_SURFACE"
              },
              "25": {
                "summary": "Average lightning strike density over 3 hours/Densité d'éclairs Moyenne sur 3H",
                "value": "AVERAGE_LIGHTNING_STRIKE_DENSITY_OVER_3HOURS__GROUND_OR_WATER_SURFACE"
              },
              "26": {
                "summary": "Convective available potential energy/Cape de la particule la plus instable en basses couches avec coefficient d'entraînement.",
                "value": "CONVECTIVE_AVAILABLE_POTENTIAL_ENERGY__GROUND_OR_WATER_SURFACE"
              },
              "27": {
                "summary": "Convective inhibition/Inhibition convective",
                "value": "CONVECTIVE_INHIBITION__GROUND_OR_WATER_SURFACE"
              },
              "28": {
                "summary": "Downward short-wave radiation flux/Flux solaire descendant",
                "value": "DOWNWARD_SHORT_WAVE_RADIATION_FLUX__GROUND_OR_WATER_SURFACE"
              },
              "29": {
                "summary": "Geometric height/Altitude géométrique.",
                "value": "GEOMETRIC_HEIGHT__GROUND_OR_WATER_SURFACE"
              },
              "30": {
                "summary": "Total graupel precipitation/Précipitations totales au sol sous forme de graupel.",
                "value": "GRAUPEL__GROUND_OR_WATER_SURFACE"
              },
              "31": {
                "summary": "Total hail precipitation/Précipitations totales au sol sous forme de grêle",
                "value": "HAIL__GROUND_OR_WATER_SURFACE"
              },
              "32": {
                "summary": "High cloud cover/Nébulosité de l'étage supérieur.",
                "value": "HIGH_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "33": {
                "summary": "Lightning strike density cumulated/Densité d'éclairs Cumulée",
                "value": "LIGHTNING_STRIKE_DENSITY_CUMULATED__GROUND_OR_WATER_SURFACE"
              },
              "34": {
                "summary": "Low cloud cover/Nébulosité de l'étage inférieur.",
                "value": "LOW_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "35": {
                "summary": "CAPE calculated using the particle method, with drag-out coefficient/CAPE calculée selon la méthode de la particule, avec coefficient d’entraînement",
                "value": "MEAN_LAYER_CAPE__GROUND_OR_WATER_SURFACE"
              },
              "36": {
                "summary": "Medium cloud cover/Nébulosité de l'étage moyen.",
                "value": "MEDIUM_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "37": {
                "summary": "Planetary boundary layer height/Hauteur de la couche limite.",
                "value": "PLANETARY_BOUNDARY_LAYER_HEIGHT__GROUND_OR_WATER_SURFACE"
              },
              "38": {
                "summary": "Integrated water vapour content on the vertical./Contenu intégré en vapeur d'eau sur la verticale.",
                "value": "PRECIPITABLE_WATER__GROUND_OR_WATER_SURFACE"
              },
              "39": {
                "summary": "Type of precipitation most frequent in the last hour/Type de précipitation le plus courant sur 1 heure",
                "value": "PRECIPITATION_TYPE_60_MIN__GROUND_OR_WATER_SURFACE"
              },
              "40": {
                "summary": "Pressure/Pression sol.",
                "value": "PRESSURE__GROUND_OR_WATER_SURFACE"
              },
              "41": {
                "summary": "Rainfall rate at ground./Intensité des précipitations au sol.",
                "value": "REFLECTIVITY_MAX__GROUND_OR_WATER_SURFACE"
              },
              "42": {
                "summary": "Rainfall rate at ground in dBz./Intensité des précipitations au sol en dBz.",
                "value": "REFLECTIVITY_MAX_DBZ__GROUND_OR_WATER_SURFACE"
              },
              "43": {
                "summary": "Type of precipitation most severe in the last hour/Type de précipitation le plus sévère sur 1 heure",
                "value": "SEVERE_PRECIPITATION_TYPE_60_MIN__GROUND_OR_WATER_SURFACE"
              },
              "44": {
                "summary": "Snow depth/Epaisseur de neige au sol",
                "value": "SNOW_DEPTH__GROUND_OR_WATER_SURFACE"
              },
              "45": {
                "summary": "Temperature/Température de surface.",
                "value": "TEMPERATURE__GROUND_OR_WATER_SURFACE"
              },
              "46": {
                "summary": "Total cloud cover/Nébulosité totale.",
                "value": "TOTAL_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "47": {
                "summary": "Total precipitation/Quantité totale de précipitations.",
                "value": "TOTAL_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "48": {
                "summary": "Total snow precipitation/Quantité de précipitations sous forme de neige.",
                "value": "TOTAL_SNOW_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "49": {
                "summary": "Total water precipitation/Quantité de précipitations sous forme liquide.",
                "value": "TOTAL_WATER_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "50": {
                "summary": "Visibility (min) in the last hour/Visibilité mini sur 1 heure",
                "value": "VISIBILITY_MINI_60MIN__GROUND_OR_WATER_SURFACE"
              },
              "51": {
                "summary": "Visibility under precipitation (mini) in the last hour/Visibilité mini sous précipitations sur 1 heure",
                "value": "VISIBILITY_MINI_PRECIP_60MIN__GROUND_OR_WATER_SURFACE"
              },
              "52": {
                "summary": "Water equivalent of accumulated snow depth/Equivalent eau de l’épaisseur de neige accumulée",
                "value": "WATER_EQUIVALENT_ACCUMULATED_SNOW__GROUND_OR_WATER_SURFACE"
              },
              "53": {
                "summary": "Brightness temperature/Température de brillance dans le canal infrarouge 10.8 microns.",
                "value": "BRIGHTNESS_TEMPERATURE__GROUND_OR_WATER_SURFACE"
              },
              "54": {
                "summary": "Brightness temperature in IR 6,2 micron/Température de brillance dans le canal infrarouge 6.2 microns.",
                "value": "BRIGHTNESS_TEMPERATURE_62__GROUND_OR_WATER_SURFACE"
              },
              "55": {
                "summary": "Altitude where the temperature is equal to -10°c, with an ascending diagnosis, from positive to negative./Altitude pour laquelle la température est égale à -20°c, avec un diagnostic ascendant, du positif vers le négatif.",
                "value": "ALTITUDE_TEMPERATURE__ISOTHERMAL_LEVEL_25315"
              },
              "56": {
                "summary": "Altitude where the temperature is equal to -12°c, with an ascending diagnosis, from positive to negative./Altitude pour laquelle la température est égale à -12°c, avec un diagnostic ascendant, du positif vers le négatif.",
                "value": "ALTITUDE_TEMPERATURE__ISOTHERMAL_LEVEL_26115"
              },
              "57": {
                "summary": "Altitude where the temperature is equal to -10°c, with an ascending diagnosis, from positive to negative./Altitude pour laquelle la température est égale à -10°c, avec un diagnostic ascendant, du positif vers le négatif.",
                "value": "ALTITUDE_TEMPERATURE__ISOTHERMAL_LEVEL_26315"
              },
              "58": {
                "summary": "Altitude where the temperature is equal to 0°c, with an ascending diagnosis, from positive to negative./Altitude pour laquelle la température est égale à 0°c, avec un diagnostic ascendant, du positif vers le négatif.",
                "value": "ALTITUDE_TEMPERATURE__ISOTHERMAL_LEVEL_27315"
              },
              "59": {
                "summary": "Altitude of dew point temperature at 273.15k/Altitude de la température du point de rosé à 0°c",
                "value": "ALTITUDE_TPW__ISOTHERMAL_LEVEL_27315"
              },
              "60": {
                "summary": "Altitude of dew point temperature at 274.15k/Altitude de la température du point de rosé à 1°c",
                "value": "ALTITUDE_TPW__ISOTHERMAL_LEVEL_27415"
              },
              "61": {
                "summary": "Altitude of dew point temperature at 274.65k/Altitude de la température du point de rosé à 1,5°c",
                "value": "ALTITUDE_TPW__ISOTHERMAL_LEVEL_27465"
              },
              "62": {
                "summary": "Cloud water/Eau nuageuse",
                "value": "CLOUD_WATER__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "63": {
                "summary": "Dew point temperature at specified height level above ground/Température du point de rosée en niveaux hauteur.",
                "value": "DEW_POINT_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "64": {
                "summary": "Maximum temperature at specified height level above ground/Température maximale de l'air en niveaux hauteur",
                "value": "MAXIMUM_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "65": {
                "summary": "Minimum temperature at specified height level above ground/Température minimale de l'air en niveaux hauteur",
                "value": "MINIMUM_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "66": {
                "summary": "Pressure at specified height level above ground/Pression en niveaux hauteur.",
                "value": "PRESSURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "67": {
                "summary": "Pseudo-adiabatic potential temperature at isobaric surfaces/Température pseudo-adiabatique potentielle du thermomètre mouillé sur des surfaces isobares.",
                "value": "PSEUDO_ADIABATIC_POTENTIAL_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "68": {
                "summary": "Relative humidity at specified height level above ground/Humidité relative en niveaux hauteur.",
                "value": "RELATIVE_HUMIDITY__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "69": {
                "summary": "Specific cloud ice water content at specified height level above ground/Glace nuageuse en niveaux hauteur.",
                "value": "SPECIFIC_CLOUD_ICE_WATER_CONTENT__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "70": {
                "summary": "Specific rain water content at specified height level above ground/Contenu en eau sous forme de pluie du nuage en niveaux hauteur.",
                "value": "SPECIFIC_GRAUPEL_WATER_CONTENT__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "71": {
                "summary": "Specific rain water content at specified height level above ground/Contenu en eau sous forme de pluie du nuage en niveaux hauteur.",
                "value": "SPECIFIC_RAIN_WATER_CONTENT__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "72": {
                "summary": "Specific snow water content at specified height level above ground/Contenu en eau sous forme de neige du nuage en niveaux hauteur.",
                "value": "SPECIFIC_SNOW_WATER_CONTENT__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "73": {
                "summary": "Temperature at specified height level above ground/Température de l'air en niveaux hauteur.",
                "value": "TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "74": {
                "summary": "Rainfall rate at specified height level above ground/Intensité des précipitations en niveaux hauteur.",
                "value": "TOTAL_PRECIPITATION_RATE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "75": {
                "summary": "Rainfall rate in dBZ at specified height level above ground/Intensité des précipitations  en dBZen niveaux hauteur.",
                "value": "TOTAL_PRECIPITATION_RATE_DBZ__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "76": {
                "summary": "Turbulent kinetic energy at specified height level above ground/Energie cinétique turbulente en niveaux hauteur.",
                "value": "TURBULENT_KINETIC_ENERGY__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "77": {
                "summary": "Virtual potential temperature/Temperature potentiel virtuel",
                "value": "VIRTUAL_POTENTIAL_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "78": {
                "summary": "Wet-bulb temperature/T'W - Température Wet Bulb.",
                "value": "WET_BULB_TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "79": {
                "summary": "Wind direction and speed  at specified height level above ground/Direction et force du vent en niveaux hauteur.",
                "value": "WIND__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "80": {
                "summary": "Wind gust direction and speed at specified height level above ground/Direction et force de la rafale du vent en niveaux hauteur.",
                "value": "WIND_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "81": {
                "summary": "Wind speed at specified height level above ground/Force du vent en niveaux hauteur.",
                "value": "WIND_SPEED__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "82": {
                "summary": "Wind speed (gust) at specified height level above ground/Rafale de vent en niveaux hauteur.",
                "value": "WIND_SPEED_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "83": {
                "summary": "Maximum wind gust during the hour at height level above ground/Rafale de vent maximum durant l’heure en niveaux hauteur.",
                "value": "WIND_SPEED_GUST_MAX__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "84": {
                "summary": "Geopotential height at 1.5 PVU surface/Géopotentiel (m) au niveau 1.5 PVU",
                "value": "GEOPOTENTIAL__POTENTIAL_VORTICITY_SURFACE_1500"
              },
              "85": {
                "summary": "Geopotential height at 2 PVU surface/Géopotentiel (m) au niveau 2 PVU",
                "value": "GEOPOTENTIAL__POTENTIAL_VORTICITY_SURFACE_2000"
              },
              "86": {
                "summary": "Theta ( potential temperature ) at 1.5 PVU surface/Theta (Température potentielle) au niveau 1.5 PVU",
                "value": "POTENTIAL_TEMPERATURE__POTENTIAL_VORTICITY_SURFACE_1500"
              },
              "87": {
                "summary": "Theta ( potential temperature ) at 2 PVU surface/Theta (Température potentielle) au niveau 2 PVU",
                "value": "POTENTIAL_TEMPERATURE__POTENTIAL_VORTICITY_SURFACE_2000"
              },
              "88": {
                "summary": "Wind direction and speed at 1.5 pvu surface/Direction et force du vent, sur la surface 1.5 pvu",
                "value": "WIND__POTENTIAL_VORTICITY_SURFACE_1500"
              },
              "89": {
                "summary": "Wind direction and speed at 2.0 pvu surface/Direction et force du vent, sur la surface 2.0 pvu",
                "value": "WIND__POTENTIAL_VORTICITY_SURFACE_2000"
              },
              "90": {
                "summary": "Wind speed at 1.5 PVU surface/Force du vent au niveau 1.5 PVU",
                "value": "WIND_SPEED__POTENTIAL_VORTICITY_SURFACE_1500"
              },
              "91": {
                "summary": "Wind speed at 2 PVU surface/Force du vent au niveau 2 PVU",
                "value": "WIND_SPEED__POTENTIAL_VORTICITY_SURFACE_2000"
              }
            }
          },
          {
            "name": "crs",
            "in": "query",
            "description": "CRS. The only accepted value is EPSG:4326",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:4326"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/png"
              ]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "bbox",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "37.5,-12,55.4,16",
                "value": "37.5,-12,55.4,16"
              }
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "height",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "width",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "description": "transparent true or false",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "true",
                "value": "true"
              },
              "2": {
                "summary": "false",
                "value": "false"
              }
            }
          },
          {
            "name": "reference_time",
            "in": "query",
            "description": "reference_time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available reference_time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elevation",
            "in": "query",
            "description": "elevation (see the result of the GetCapabilities for available elevation)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "styles",
            "in": "query",
            "description": "styles (see the result of the GetCapabilities for available styles)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROME-0025-FRANCE-WCS/GetCapabilities": {
      "get": {
        "tags": [
          "AROME 0.025"
        ],
        "description": "GetCapabilities retourne la liste des opérations supportées par le service, et la liste des champs (coverages) disponibles\n\nGetCapabilities returns the list of operations supported by the service, and the list of available fields (coverages)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROME-0025-FRANCE-WCS/DescribeCoverage": {
      "get": {
        "tags": [
          "AROME 0.025"
        ],
        "description": "DescribeCoverage décrit la structure du coverage (extension spatiale, extension temporelle, géométrie de la grille, type des données et unité des valeurs sur la grille)\n\nDescribeCoverage describes the coverage structure (spatial extension, temporal extension, grid geometry, data type and unit of values on the grid)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageID",
            "in": "query",
            "description": "Identifiant du coverage (tel qu'il apparaît dans la réponse GetCapabilities)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-AROME-0025-FRANCE-WCS/GetCoverage": {
      "get": {
        "tags": [
          "AROME 0.025"
        ],
        "description": "GetCoverage renvoie le coverage\n\n\nGetCoverage return the coverage",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageid",
            "in": "query",
            "description": "Identifiant du coverage (tel qu'il apparaît dans la réponse GetCapabilities)",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subset",
            "in": "query",
            "description": "Paramètres de sous-sélection, selon les différents axes. Il faut que la combinatoire des paramètres de sous-sélection dans la requête définissent un sous-ensemble de dimension 2 au maximum.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/tiff",
                "application/wmo-grib"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-PAAROME-001-FRANCE-WMS/GetCapabilities": {
      "get": {
        "tags": [
          "Analyse AROME 0.01"
        ],
        "description": "Le GetCapabilities retourne les métadonnées du service (couches proposées, projections associées, auteur…)\n\nThe GetCapabilities returns the metadata of the service (proposed layers, associated projections, author, etc.)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-PAAROME-001-FRANCE-WMS/GetMap": {
      "get": {
        "tags": [
          "Analyse AROME 0.01"
        ],
        "description": "GetMap permet d'obtenir une carte (format d'image) dont les caractéristiques sont définies par le client à l’aide de paramètres standardisés",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "Temperature at specified height level above ground/Température de l'air en niveaux hauteur.",
                "value": "TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "2": {
                "summary": "Wind direction and speed  at specified height level above ground/Direction et force du vent en niveaux hauteur.",
                "value": "WIND__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "3": {
                "summary": "Wind speed at specified height level above ground/Force du vent en niveaux hauteur.",
                "value": "WIND_SPEED__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "4": {
                "summary": "Wind speed (gust) at specified height level above ground/Rafale de vent en niveaux hauteur.",
                "value": "WIND_SPEED_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "5": {
                "summary": "Relative humidity at specified height level above ground/Humidité relative en niveaux hauteur.",
                "value": "RELATIVE_HUMIDITY__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "6": {
                "summary": "Total snow precipitation/Quantité de précipitations sous forme de neige.",
                "value": "TOTAL_SNOW_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "7": {
                "summary": "Total precipitation/Quantité totale de précipitations.",
                "value": "TOTAL_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "8": {
                "summary": "Pressure/Pression sol.",
                "value": "PRESSURE__GROUND_OR_WATER_SURFACE"
              },
              "9": {
                "summary": "Low cloud cover/Nébulosité de l'étage inférieur.",
                "value": "LOW_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "10": {
                "summary": "High cloud cover/Nébulosité de l'étage supérieur.",
                "value": "HIGH_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "11": {
                "summary": "Medium cloud cover/Nébulosité de l'étage moyen.",
                "value": "MEDIUM_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "12": {
                "summary": "Convective available potential energy/CAPE de la particule la plus instable en basses couches avec coefficient d'entraînement.",
                "value": "CONVECTIVE_AVAILABLE_POTENTIAL_ENERGY__GROUND_OR_WATER_SURFACE"
              },
              "13": {
                "summary": "Brightness temperature/Température de brillance dans le canal infrarouge 10.8 microns.",
                "value": "BRIGHTNESS_TEMPERATURE__GROUND_OR_WATER_SURFACE"
              },
              "14": {
                "summary": "Total water precipitation/Quantité de précipitations sous forme liquide.",
                "value": "TOTAL_WATER_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "15": {
                "summary": "rainfall rate/Intensité des précipitations",
                "value": "TOTAL_PRECIPITATION_RATE__GROUND_OR_WATER_SURFACE"
              },
              "16": {
                "summary": "Geometric height/Altitude géométrique.",
                "value": "GEOMETRIC_HEIGHT__GROUND_OR_WATER_SURFACE"
              }
            }
          },
          {
            "name": "crs",
            "in": "query",
            "description": "CRS. The only accepted value is EPSG:4326",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:4326"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/png"
              ]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "bbox",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "37.5,-12,55.4,16",
                "value": "37.5,-12,55.4,16"
              }
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "height",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "width",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "description": "transparent true or false",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "true",
                "value": "true"
              },
              "2": {
                "summary": "false",
                "value": "false"
              }
            }
          },
          {
            "name": "reference_time",
            "in": "query",
            "description": "reference_time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available reference_time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "elevation",
            "in": "query",
            "description": "elevation (see the result of the GetCapabilities for available elevation)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "styles",
            "in": "query",
            "description": "styles (see the result of the GetCapabilities for available styles)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-PAAROME-001-FRANCE-WCS/GetCapabilities": {
      "get": {
        "tags": [
          "Analyse AROME 0.01"
        ],
        "description": "GetCapabilities retourne la liste des opérations supportées par le service, et la liste des champs (coverages) disponibles",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-PAAROME-001-FRANCE-WCS/DescribeCoverage": {
      "get": {
        "tags": [
          "Analyse AROME 0.01"
        ],
        "description": "DescribeCoverage décrit la structure du coverage (extension spatiale, extension temporelle, géométrie de la grille, type des données et unité des valeurs sur la grille)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageID",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wcs/MF-NWP-HIGHRES-PAAROME-001-FRANCE-WCS/GetCoverage": {
      "get": {
        "tags": [
          "Analyse AROME 0.01"
        ],
        "description": "GetCoverage renvoie le coverage",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WCS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WCS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WCS version. The only accepted value is 2.0.1",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "2.0.1"
              ]
            }
          },
          {
            "name": "coverageid",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subset",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/tiff",
                "application/wmo-grib"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/tiff": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/wmo-grib": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-PAAROME-0025-FRANCE-WMS/GetCapabilities": {
      "get": {
        "tags": [
          "Analyse AROME 0.025"
        ],
        "description": "Le GetCapabilities retourne les métadonnées du service (couches proposées, projections associées, auteur…)\n\nThe GetCapabilities returns the metadata of the service (proposed layers, associated projections, author, etc.)",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "eng",
              "enum": [
                "eng",
                "fre"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/Badrequest"
          },
          "401": {
            "$ref": "#/components/responses/InvalidToken"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/ThrottlingLimit"
          },
          "500": {
            "$ref": "#/components/responses/InternalServer"
          },
          "503": {
            "$ref": "#/components/responses/Unavailable"
          },
          "504": {
            "$ref": "#/components/responses/Timeout"
          }
        },
        "security": [
          {
            "default": []
          }
        ],
        "x-auth-type": "Application & Application User",
        "x-throttling-tier": "Unlimited"
      }
    },
    "/wms/MF-NWP-HIGHRES-PAAROME-0025-FRANCE-WMS/GetMap": {
      "get": {
        "tags": [
          "Analyse AROME 0.025"
        ],
        "description": "GetMap permet d'obtenir une carte (format d'image) dont les caractéristiques sont définies par le client à l’aide de paramètres standardisés",
        "parameters": [
          {
            "name": "service",
            "in": "query",
            "description": "The only mandatory accepted value is WMS.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "WMS"
              ]
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "WMS version. The only accepted value is 1.3.0",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "1.3.0"
              ]
            }
          },
          {
            "name": "layers",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "Temperature at specified height level above ground/Température de l'air en niveaux hauteur.",
                "value": "TEMPERATURE__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "2": {
                "summary": "Wind direction and speed  at specified height level above ground/Direction et force du vent en niveaux hauteur.",
                "value": "WIND__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "3": {
                "summary": "Wind speed at specified height level above ground/Force du vent en niveaux hauteur.",
                "value": "WIND_SPEED__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "4": {
                "summary": "Wind speed (gust) at specified height level above ground/Rafale de vent en niveaux hauteur.",
                "value": "WIND_SPEED_GUST__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "5": {
                "summary": "Relative humidity at specified height level above ground/Humidité relative en niveaux hauteur.",
                "value": "RELATIVE_HUMIDITY__SPECIFIC_HEIGHT_LEVEL_ABOVE_GROUND"
              },
              "6": {
                "summary": "Total snow precipitation/Quantité de précipitations sous forme de neige.",
                "value": "TOTAL_SNOW_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "7": {
                "summary": "Total precipitation/Quantité totale de précipitations.",
                "value": "TOTAL_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "8": {
                "summary": "Pressure/Pression sol.",
                "value": "PRESSURE__GROUND_OR_WATER_SURFACE"
              },
              "9": {
                "summary": "Low cloud cover/Nébulosité de l'étage inférieur.",
                "value": "LOW_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "10": {
                "summary": "High cloud cover/Nébulosité de l'étage supérieur.",
                "value": "HIGH_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "11": {
                "summary": "Medium cloud cover/Nébulosité de l'étage moyen.",
                "value": "MEDIUM_CLOUD_COVER__GROUND_OR_WATER_SURFACE"
              },
              "12": {
                "summary": "Convective available potential energy/CAPE de la particule la plus instable en basses couches avec coefficient d'entraînement.",
                "value": "CONVECTIVE_AVAILABLE_POTENTIAL_ENERGY__GROUND_OR_WATER_SURFACE"
              },
              "13": {
                "summary": "Brightness temperature/Température de brillance dans le canal infrarouge 10.8 microns.",
                "value": "BRIGHTNESS_TEMPERATURE__GROUND_OR_WATER_SURFACE"
              },
              "14": {
                "summary": "Total water precipitation/Quantité de précipitations sous forme liquide.",
                "value": "TOTAL_WATER_PRECIPITATION__GROUND_OR_WATER_SURFACE"
              },
              "15": {
                "summary": "rainfall rate/Intensité des précipitations",
                "value": "TOTAL_PRECIPITATION_RATE__GROUND_OR_WATER_SURFACE"
              },
              "16": {
                "summary": "Geometric height/Altitude géométrique.",
                "value": "GEOMETRIC_HEIGHT__GROUND_OR_WATER_SURFACE"
              }
            }
          },
          {
            "name": "crs",
            "in": "query",
            "description": "CRS. The only accepted value is EPSG:4326",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "EPSG:4326"
              ]
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Format",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "image/png"
              ]
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "bbox",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "37.5,-12,55.4,16",
                "value": "37.5,-12,55.4,16"
              }
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "height",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "width",
            "in": "query",
            "description": "width",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "256",
                "value": "256"
              }
            }
          },
          {
            "name": "transparent",
            "in": "query",
            "description": "transparent true or false",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "1": {
                "summary": "true",
                "value": "true"
              },
              "2": {
                "summary": "false",
                "value": "false"
              }
            }
          },
          {
            "name": "reference_time",
            "in": "query",
            "description": "reference_time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available reference_time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "time in YYYY-MM-JJTHH:mm:ssZ format (see the result of the GetCapabilities for available time)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
[...]
